:root {
    --primary-color: #589FFD;
    --secondary-color: #231934;
    --text-new: #f9fafb;
    --text-new1: #9BE4FF;
    --text-new2: #589FFD;
    --bg-dark: #231934;
    --text-light: #f9fafb;
}


